.carScrollText {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.carScrollContainer {
  display: flex;

  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: 100px auto;
  padding-bottom: 20px;
}
.carScrollCardsContainer {
  display: grid;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.carScrollCardsContainer::-webkit-scrollbar {
  display: none;
}
