.header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.div {
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
}
@media screen and (max-width: 720px) {
  .menu {
    display: inline-block;
  }
  .navDiv {
    display: none;
  }
}
