.container {
  display: flex;
  width: 90%;

  height: 400px;
  padding: 40px;
  background-color: #1f81f3;
  margin: 50px auto;
  border-radius: 30px;
}
.content {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 52px;
  line-height: 1;
  font-weight: 500;
}
.p {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
}
.button {
  width: 30%;
  padding: 20px;
  background-color: aliceblue;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #1f81f3;
}
.image {
  width: 50%;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
  .content {
    width: 100%;
    gap: 20px;
  }
  .image {
    width: 100%;
  }
  .button {
    width: 100%;
  }
}
