.loginCon {
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.formcon {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form {
  border: 1px solid rgb(201, 201, 201);
  padding: 40px 20px;
  height: 50%;
  margin-bottom: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.inputDiv {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.inputDiv input {
  padding: 15px;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  outline: 2px solid rgb(224, 224, 224);
  border: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
}
.inputDiv h1 {
  font-size: 20px;
  font-weight: 600;
}
.inputDiv input:focus {
  border-color: var(--primary);
  outline-color: var(--primary);
}
.buttonDiv {
  display: flex;
  justify-content: end;
  gap: 20px;
  height: 20%;
}
.loginbtn {
  padding: 4px 8px;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  border: 1px solid var(--primary);

  transition: 0.2s ease background-color;
}
.loginbtn:hover {
  color: var(--primary);
  background-color: white;
}
.signupbtn {
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  background-color: white;
  color: var(--primary);
  font-weight: 600;
  transition: 0.2s ease background-color;
}
.signupbtn:hover {
  color: white;
  background-color: var(--primary);
}
.logo {
  margin: 70px 0;
}
.imagediv {
  width: 50%;
}
.imagediv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon {
  color: "rgb(214, 214, 214)";
}

.subInput:focus-within .icon {
  color: var(--primary);
}
@media screen and (max-width: 768px) {
  .formcon {
    width: 100%;
  }
  .imagediv {
    display: none;
  }
}
