@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  margin: 0;
  padding: 0%;
  font-family:
    "Poppins",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  --primary: #bc00cc;
  --primary-gradient: linear-gradient(
    267deg,
    rgb(166, 8, 192) 0%,
    rgb(166, 8, 192) 10%,
    rgb(196, 0, 204) 33%,
    rgb(196, 0, 204) 67%,
    rgb(166, 8, 192) 90%,
    rgb(166, 8, 192) 100%
  );
  --text: #302652;
}
* {
  margin: 0;
}
